export(run_xor_detection)
export(generate_spaghetti_plot_from_results)
import(dplyr)
import(ggplot2)
import(ggh4x)
import(tibble)
import(reshape2)
import(glue)
import(scales)
importFrom(stats, wilcox.test)
importFrom(stats, quantile)
importFrom(stats, complete.cases)
importFrom(parallel, detectCores)
import(future)
import(future.apply)
import(pbmcapply)
import(DescTools)
import(utils)
import(methods)


