export(detect_xor)
export(generate_spaghetti_plot_from_results)
import(dplyr)
import(ggplot2)
import(ggh4x)
import(tibble)
import(reshape2)
import(glue)
import(scales)
importFrom(stats, wilcox.test, quantile, complete.cases, chisq.test, cor.test, na.omit, median)
importFrom(parallel, detectCores)
importFrom(grDevices, colorRampPalette)
import(DescTools)
import(utils)
import(methods)
